@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Processed Correctly</h1><br />
        <img src="~/images/confirmacion.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thanks for your order! <br />
        We have received your Order and We will send you an email soon!
        <br />
        Your Order Number is : @Model
    </div>
</div>

